<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Home-Mcar</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<script type="text/javascript">
     function configureDropDownLists(ddl1,ddl2) {
    var economy = ['Honda Fit', 'Micra'];
    var suv = ['Prado', 'Explorer'];
    var luxury = ['Audi A3', 'Porsche'];
	var sporty = ['Ferrari Italia', 'Dodge'];
    switch (ddl1.value) {
        case 'economy':
            ddl2.options.length = 0;
            for (i = 0; i < economy.length; i++) {
                createOption(ddl2, economy[i], economy[i]);
            }
            break;
        case 'suv':
            ddl2.options.length = 0; 
        for (i = 0; i < suv.length; i++) {
            createOption(ddl2, suv[i], suv[i]);
            }
            break;
        case 'luxury':
            ddl2.options.length = 0;
            for (i = 0; i < luxury.length; i++) {
                createOption(ddl2, luxury[i], luxury[i]);
            }
            break;
        case 'sporty':
            ddl2.options.length = 0;
            for (i = 0; i < sporty.length; i++) {
                createOption(ddl2, sporty[i], sporty[i]);
            }
            break;
            default:
                ddl2.options.length = 0;
            break;
    }

}

    function createOption(ddl, text, value) {
        var opt = document.createElement('option');
        opt.value = value;
        opt.text = text;
        ddl.options.add(opt);
    }
</script>


</head>


<body>
<div id="wrapper">
  <div id="header">
    <h1 align=center>M-Car Share</h1>

  </div>
  <div id="menu">
    <div id="navcontainer">
      <ul id="navlist">
        <li><a href="#">Home</a></li>
        <li> <a href="#">Add Car</a></li>
		<li><a  href="#" >Bookings</a></li>
		<li ><a href="#">About Us</a></li>
		<li style="float:right"><a href="index.htm">Logout</a></li>
      </ul>
	</div>
  </div>
   <div id="content">
     <div id="inside">
     	<div id="left">
     	    	<p> Available Cars:</p>
		<% if (economy_cars.length>0){%>
		 <b> Economy Cars: </b>
		 <ul>
		   <% for (var i = 0; i < economy_cars.length; ++i) { %>
		   <li>
		   	  <ul> 
		      <li style="list-style-type: none;">Car Brand and Model: <%= economy_cars[i].Car_Name %></li>
		   		<li style="list-style-type: none;">Car Number: <%= economy_cars[i].Car_Number %></li>
		   		<li style="list-style-type: none;">Car Year: <%= economy_cars[i].Car_Year %></li>
		   		<li style="list-style-type: none;">Car Km: <%= economy_cars[i].Car_Km %></li>
		   		<li style="list-style-type: none;">Car Location:<%= economy_cars[i].Car_Location %></p>
		   		</ul>
		   	</li>
		   	
		   	<% } %>
		   	</ul> <% } %>
		   	<% if (suv_cars.length>0){%>
		 <b> SUV Cars: </b>
		 <ul>
		   <% for (var i = 0; i < suv_cars.length; ++i) { %>
		   <li>
		   	  <ul> 
		      <li style="list-style-type: none;">Car Brand and Model: <%= suv_cars[i].Car_Name %></li>
		   		<li style="list-style-type: none;">Car Number: <%= suv_cars[i].Car_Number %></li>
		   		<li style="list-style-type: none;">Car Year: <%= suv_cars[i].Car_Year %></li>
		   		<li style="list-style-type: none;">Car Km: <%= suv_cars[i].Car_Km %></li>
		   		<li style="list-style-type: none;">Car Location:<%= suv_cars[i].Car_Location %></p>
		   		</ul>
		   	</li>
		   	
		   	<% } %>
		   	</ul> <% } %>
		   	
		   	<% if (luxury_cars.length>0){%>
		 <b> Luxury Cars: </b>
		 <ul>
		   <% for (var i = 0; i < luxury_cars.length; ++i) { %>
		   <li>
		   	  <ul> 
		      <li style="list-style-type: none;">Car Brand and Model: <%= luxury_cars[i].Car_Name %></li>
		   		<li style="list-style-type: none;">Car Number: <%= luxury_cars[i].Car_Number %></li>
		   		<li style="list-style-type: none;">Car Year: <%= luxury_cars[i].Car_Year %></li>
		   		<li style="list-style-type: none;">Car Km: <%= luxury_cars[i].Car_Km %></li>
		   		<li style="list-style-type: none;">Car Location:<%= luxury_cars[i].Car_Location %></p>
		   		</ul>
		   	</li>
		   	
		   	<% } %>
		   	</ul> <% } %>
		   	
		   		<% if (sporty_cars.length>0){%>
		 <b> Sporty Cars: </b>
		 <ul>
		   <% for (var i = 0; i < sporty_cars.length; ++i) { %>
		   <li>
		   	  <ul> 
		      <li style="list-style-type: none;">Car Brand and Model: <%= sporty_cars[i].Car_Name %></li>
		   		<li style="list-style-type: none;">Car Number: <%= sporty_cars[i].Car_Number %></li>
		   		<li style="list-style-type: none;">Car Year: <%= sporty_cars[i].Car_Year %></li>
		   		<li style="list-style-type: none;">Car Km: <%= sporty_cars[i].Car_Km %></li>
		   		<li style="list-style-type: none;">Car Location:<%= sporty_cars[i].Car_Location %></p>
		   		</ul>
		   	</li>
		   	
		   	<% } %>
		   	</ul> <% } %>
		   	
     	</div>
     	<div id="right">
     	<form action="/addCar" method="post">
     	<table>
     	<tr><th> Add Car:</th></tr>

     	<tr><td>Select Car Class:</td><td> <select style="width:100px" name="carClass" id="ddl" onchange="configureDropDownLists(this,document.getElementById('ddl2'))">
  <option value="#">------</option>
  <option value="economy">Economy 10$/hr</option>
  <option value="suv">SUV 12$/hr</option>
  <option value="luxury">Luxury 18$/hr</option>
  <option value="sporty">Sporty 20$/hr</option>
	</select></td></tr>
<tr><td> Select Car Brand and Model:</td><td>
<select id="ddl2" name="CarName"="width:100px">
</select>
</td></tr>
<tr><td>Enter Car Number:</td> <td> <input type="text" name="car_number" /> </td></tr>
<tr><td> Car Model year:</td> <td> <input type="text" name="car_year" /> </td></tr>
<tr><td> KM Driven:</td> <td> <input type="number" name="car_km" /> </td></tr>
<tr><td> Select Car location:</td> <td> <select name="carLocation">
  <option value="#">------</option>
  <option value="mun">MUN</option>
  <option value="avalon">Avalon Mall</option>
  <option value="village">Village Mall</option>
	</select> </td></tr>
	<tr><td></td> <td align="right"> <input type="submit" value="Add Car"/></td></tr>
</table>

</form>
     	</div>     	
     </div>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	
  </div>
  <div id="footer">
    <p><a href="#">Home</a> | <a href="#">About Us</a> <br />
      </p>
  </div>
</div>
<div id="bottom">
  <p>Copyright MUN<br /></p>
</div>
<script src="js/script.js"></script>
</body>
</html>