<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Home-Mcar</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>


<body>
<div id="wrapper">
  <div id="header">
    <h1 align=center>M-Car Share</h1>
    <h3 align=right>Hi <%= custDetails.getFirstName()%> </h3>
  </div>
  <div id="menu">
    <div id="navcontainer">
      <ul id="navlist">
        <li><form id="myform" method="post" action="/MyHome">
  <input type="hidden" name="userId" value=<%= custDetails.getUserName()%> />
  <input type="hidden" name="user" value=<%= custDetails.getFirstName()%> /> 
  <a href="#" onclick="document.getElementById('myform').submit();">Home</a>
</form></li>
        <li><form id="myform2" method="post" action="/rent_car">
  <input type="hidden" name="userId" value=<%= custDetails.getUserName() %> />
  <input type="hidden" name="user" value=<%= custDetails.getFirstName()%> /> 
  <a href="#" onclick="document.getElementById('myform2').submit();">Rent</a>
</form></li>
		<li><form id="myform3" method="post" action="/returnCar">
  <input type="hidden" name="userId" value=<%= custDetails.getUserName()%> />
  <input type="hidden" name="user" value=<%= custDetails.getFirstName()%> /> 
  <a  href="#" onclick="document.getElementById('myform3').submit();">Return Car</a>
</form></li>
		<li><a >My Account</a></li>
        <li ><a href="#">About Us</a></li>
		<li style="float:right"><a href="index.htm">Logout</a></li>
      </ul>
	</div>
  </div>
   <div id="content">
     <p style="font-size:20px;"> Proile Details:</p>
<ul style="list-style: none;">
	  <li style="align: left">Name: <%= custDetails.getFirstName() %> &nbsp <%= custDetails.getLastName() %></li>
      <li style="align: left">Email-Id: &nbsp <%= custDetails.getUserName() %></li>
      <li style="align: left">Phone: <%= custDetails.getPhone() %>	  </li>
      <li style="align: left">Address: <%= custDetails.getAddress() %>	  </li>
	  </ul>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	
  </div>
  <div id="footer">
    <p><a href="#">Home</a> | <a href="#">About Us</a> <br />
      </p>
  </div>
</div>
<div id="bottom">
  <p>Copyright MUN<br /></p>
</div>
<script src="js/script.js"></script>
</body>
</html>